@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@1,200;1,300&display=swap");
.banner {
  background: gray;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../Asets/backImage.jpg");
  background-size: cover;
  background-position: center center;
}
* {
  font-family: "Poppins", sans-serif; /*définir le font de toute la page */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner .banner-info {
  position: absolute;
  top: 20%;
  width: 100%;
  height: auto;
  text-align: center;
}
.banner .banner-info h1 {
  position: relative;
  height: auto;
  font-size: 50px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.banner .banner-info h1:hover {
  color: #00308f;
}
.btn {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8x 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;

  color: #fff;
}
.container {
  background: rgba(0, 0, 0, 0.2);
  color: var(--mainWhite);
  padding: 4rem 1rem;
}

/*****Search Input ***/
li {
  list-style: none;
  color: white;
  font-size: 10px;
}
ul {
  position: absolute;
}
