.Login {
    background: gray;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Asets/backImage.jpg");
    background-size: cover;
    background-position: center center;
}

.formulaire {
    background-color: rgba(58, 57, 57, 0.397);
    border-radius: 10px;
}

.sign {
    border: 2px solid rgb(80, 80, 80);
    padding: 5px;
    color: black;
    background-color: white;
    width: 100%;
    font-size: 18px;
    border-radius: 50px;
}

.form-content form {
    padding-top: 80px;
}

.submitt {
    padding: 12px;
    color: white;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
    font-weight: bold;
}

.sign::placeholder {
    color: rgb(226,26, 50, 26,  50);
    font-size: 18px;
}

.Login {
    padding: 50px;
}